.header-app {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.header-app .content {
    width: 1000px;
    margin: auto;
}

.header-app .content .title {
    font-size: 40px;
    display: flexbox;
}